*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TriakisFont";
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "TriakisFont";
  src: url("./fonts/TriakisFont-Regular.otf");
}
